@use "sass:math";
$border-radius: 0.125rem;

$sizes: ("xs", "sm", "md", "lg", "xl");

.text-input {
  line-height: 1.55;
}

.input {
  outline: none;
  height: 2.25rem;
  -webkit-tap-highlight-color: transparent;
  line-height: calc(2.25rem - 0.125rem);
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  resize: none;
  box-sizing: border-box;
  font-size: 0.875rem;
  width: 100%;
  color: #000;
  display: block;
  text-align: left;
  border: 0.0625rem solid #ced4da;
  background-color: #fff;
  -webkit-transition: border-color 100ms ease;
  transition: border-color 100ms ease;
  min-height: 2.25rem;
  padding-left: calc(2.25rem / 3);
  padding-right: calc(2.25rem / 3);
  padding-block: 1px;
  border-radius: 0.25rem;

  &:disabled {
    background-color: #f1f3f5;
    color: #909296;
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
  }

  &[data-invalid] {
    color: #fa5252;
    border-color: #fa5252;
  }
}

.label {
  font-weight: bold;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #212529;
  word-break: break-word;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
}

.input-wrapper {
  position: relative;
  margin-top: calc(0.3125rem);
  margin-bottom: calc(0.3125rem);
}

.requred {
  color: #fa5252;
}

.description {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  word-break: break-word;
  color: rgb(134, 142, 150);
  font-size: calc(0.75rem);
  line-height: 1.2;
  display: block;
}

.error {
  -webkit-tap-highlight-color: transparent;
  color: inherit;
  font-size: inherit;
  line-height: 1.55;
  -webkit-text-decoration: none;
  text-decoration: none;
  word-break: break-word;
  color: #fa5252;
  font-size: calc(0.875rem - 0.125rem);
  line-height: 1.2;
  display: block;
}

@each $size in $sizes {
  $i: index($sizes, $size);
  .radius-#{$size} {
    border-radius: $border-radius * math.pow(2, ($i - 1));
  }
}
